doctype
html
    head
        title Angular Node project
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
    base(href="/")
    body(ng-app="app")
        include user
        block main-content
        include scripts